@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;

    span{
        font-weight: 700;
        font-size: calc($base-size * 1.2);
    }

    span:hover{
        cursor: pointer;
    }

}

.favorite {
    color: rgb(236, 240, 14);
}


.notFavorite {
    color: $color-dark;
}